<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body>
    <%- include("partical/header") %>
        <h1 style="color: #333; font-family: Arial; text-align: center;">
            Welcome User
        </h1>

        <div style="text-align: center; margin-top: 20px;">
            <a href="/register"
                style="background-color: chocolate; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 16px;">
                Go to Register
            </a>
        </div>
</body>

</html>