<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post register</title>
</head>

<body>
    <%-include("partical/header") %>
        <h1 style="text-align:center; margin-top:100px; font-family:Arial; color:#2c3e50;">
            Thank You for Registering
        </h1>

        <script>setTimeout(() => {
                 window.location.href = "/";
            }, 1500);</script>
</body>

</html>