  <header style="background-color:chocolate; padding: 15px;">
    <nav style="display: flex; gap: 20px;">
        <a href="/" style="color: white; text-decoration: none; font-size: 18px;">Home</a>
        <a href="/register" style="color: white; text-decoration: none; font-size: 18px;">Go to Register</a>
        <a href="" style="color: white; text-decoration: none; font-size: 18px;">Favourite</a>
    </nav>
</header> 